{% extends "base.html" %}
{% block content %}
<script type="text/javascript">

  // Passer les données au script principal (main.js)
  python_array_coordinates = {{ array_coordinates | tojson | safe }};
  python_sensors = {{ sensors | tojson | safe }};
  python_result = {{ result | tojson | safe }};

  var arrayCoordinates = python_array_coordinates;
  var sensors = python_sensors;
  var result = python_result;
</script>


<!-- <div id="map" style="height:100vh;width:100%">toto</div> -->
<div id="map"></div>

<div class="container menu-options" id="analysis-options">

  <!-- Submit data range -->
  <div class="row mb-2">
    <div class="col">
      <button class="btn btn-outline-secondary loadButton" type="button" id="submitDateTimeAnalysis">Start Real-time</button>

  <!-- Stop real time -->
      <button class="btn btn-outline-secondary stopButton" style="display: none;" type="button" id="stopRealTime">Stop Real Time</button>
    </div>
  </div>

  <hr />

  <div class="row mb-2">
    <div class="col">
      <div id="analysisEnergyPanel"></div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <div id="graph"></div>
    </div>
  </div>
</div>
<!-- End analysis options -->


{% endblock %}